*{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #5c5c5c;
    color: #fff;
}

main {
    top: 25vh;
    text-align: center;
    background: rgb(217, 217, 217);
    background: linear-gradient(0deg, rgb(175, 175, 175) 0%, rgb(88, 88, 88) 32%, rgb(56, 56, 56) 100%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    height: 300px;

}

input {
    margin: 10px 0;
    border: solid rgb(189, 189, 189) 1px;
    border-radius: 3px;
    background-color: #3f3f3f;
    color: #fff;
    font-size: large;
}

input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

#boton-generar {
    margin: 10px 0;
    background-color: #525252;
    border: solid rgb(255, 253, 253) 1px;
    padding: 1fr 2px 10px 2px;
    border-radius: 3px;
    transition: background-color .3s, color .3s;
    height: 35px;
    font-size: large;
    margin-top: 32px;
}

#boton-generar:hover{
    background-color: #a8a8a8;  
    color: rgb(31, 31, 31);
}

aside{
    align-self: flex-end;
    margin: 20px;
    height: 87vh;
    background: rgb(217, 217, 217);
    background: linear-gradient(0deg, rgb(175, 175, 175) 0%, rgb(88, 88, 88) 32%, rgb(56, 56, 56) 100%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}


main h1{
    margin-bottom: 32px;
}

aside h2{
    font-size: larger;
}

.custom-shape-divider-top-1718742674 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1718742674 svg {
    position: relative;
    display: block;
    width: calc(178% + 1.3px);
    height: 174px;
}

.custom-shape-divider-top-1718742674 .shape-fill {
    fill: #FFFFFF;
}